* {
    margin: 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    align-items: center;
}

.container {
    margin: 5%;
    flex-direction: column;
    flex: auto;
    display: flex;
    align-items: center;
    text-align: center;
    
    justify-content: center;
}

.boxes {
    flex-direction: row;
    display: flex;
    align-items: center;
    text-align: center;
}

.options {
    background-color: rgb(255, 0, 0);
    width: 550px;
    height: 350px;
    margin: 10%;
    justify-content: center;
    
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 15px;
}

.options:hover {
    background-color: gray;
}

.logos {
    margin-top: 15%;
}

h3 {
    color: white;
    font-size: 30px;
}

h1 {
    font-size: 50px;
    margin-top: 2%;
    margin-bottom: -5%;
}

initial {
    margin-top: 50%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}