body {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
}

.container {
    margin: 10%;
    flex-direction: column;
    flex: auto;
    display: flex;
    align-items: center;
    text-align: center;
    
    justify-content: center;
}

.boxes {
    flex-direction: row;
    display: flex;
    align-items: center;
    text-align: center;
}

.options {
    background-color: rgb(155, 155, 155);
    width: 550px;
    height: 350px;
    margin: 10%;
    justify-content: center;
    
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 15px;
}

.options:hover {
    background-color: black;
}

.logos {
    margin-top: 15%;
}

h3 {
    color: white;
    font-size: 30px;
}

h1 {
    font-size: 50px;
    margin-bottom: -5%;
}

header {
    display: flex;
    flex-direction: column;
}