.greeting-message {
  color: black;
  font-size: 30px;
}

.initial-message {
  color: rgb(255, 0, 0);
  font-size: 20px;
  margin-bottom: 20px;
}

.main-details-products {
  margin: 4%;
}
/* 
.product-info {
  position: left;
  left: 0;
  height: 70px;
  width: 100px;
  padding: 30px;
  font-size: 24px;
  font-weight: bold;
}

.product-info ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.product-info ul li {
  margin-bottom: 10px;
}

.product-info ul li span {
  font-weight: normal;
} */

.image-file {
  width: 100%;
  align-self: center;
}

.product-images {
  display: flex;
  flex-wrap: wrap;
  color: black;
  background-color: white;
  margin-bottom: 1%;
  width: 20%;
  margin: 10px;
  height: 300px;
  border-radius: 20px;
  padding: 10px;
}

.product-images:hover {
  background-color: rgba(255, 255, 255, 0.753);
  cursor: pointer;
}

.brand-product {
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.name-product {
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.product-images img {
  width: 100%;
  margin-bottom: 20px;
  height: 100px;
}

.card-product {
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  justify-content: center;
}

/* 


.product-images figcaption {
  text-align: center;
  font-size: 16px;
  color: #000;
  font-weight: bold;
}

.product-images figdetails {

  text-align: center;
  font-size: 16px;
  color: black;

}

.product-value productvalues {

  padding: 5px;
  border: none;
  color: black;


}

.dropdown select {
  padding: 5px;
  border: none;
  background-color: #fff;
  color: #000;
}

.dropdown option {
  background-color: #fff;
  color: #000;
}

.dropbtn {
  background-color: red;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.color-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.color-icon.blue {
  background-color: blue;
}

.color-icon.red {
  background-color: red;
}

.color-icon.purple {
  background-color: purple;
}

.color-icon.rainbow {
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

.color-icon.yellow {
  background-color: yellow;
}

.color-icon.white {
  background-color: white;
}

color-icon.black {
  background-color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
} */