.top-header {
  display: flex;
  justify-content: space-between;
}

.container-user-list {
  margin: 1em auto;
  width: 80%;
  color: #000;
  justify-content: center;
  text-align: center;
}

.container-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subtop-header {
  justify-content: space-between;
}

body {
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}


table {
  margin: auto;
  width: 100%;
  border-collapse: collapse;
}

table>tr>th {
  background-image: linear-gradient(to bottom, #cccccc, rgb(241, 241, 241));
  text-align: center;
  border-radius: 3px;
}

.status-lbl {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

table>tr {
  height: auto;
  width: 50px;
  
}

table>tr>td {
  text-align: center;
}

.group-radio {
  justify-content: center;
  display: flex;
}

.btn-register {
  color: #fff;
  padding: 10px 30px;
  border-radius: 6px;
  cursor: pointer;
  background-color: #4caf50;
  font-size: 16px;
  
  justify-content: center;
  text-align: center;

}

.btn-register:hover {
  background-color: #359139;
  border-color: 1px #000;
}

.btn-edit-user-list {
  border-radius: 4px;
  background-color: red;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  margin: 10px;
}

.btn-edit-user-list:hover span {
  color: #000;
  transition: 0.5s;
}

input[type='radio'] {
  margin-top: 10px;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid white;
  cursor: pointer;
}

#on:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: rgb(36, 245, 36);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid white;
}


#on:hover:after {
  background-color: rgba(36, 245, 36, 0.397);
}

#off:hover:after {
  background-color: rgba(255, 0, 0, 0.397);
}

#off:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: rgb(255, 0, 0);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid white;
}