.btn-view-details {
    margin-top: 2%;
    font-size: 24px; 
    color: white;
    padding: 10px;
    background-color: green;
    border-radius: 10px;
    text-align: center;
}

.orders-card {
    background-color: rgb(214, 214, 214);
    padding: 20px;
    border-radius: 10px;
}