.modal-container {
    margin: 20px;
    color: black;
}

.search-cep {
    text-align: center;
    position: absolute;
    background-color: transparent;
    color: black;
    width: 80px;
    height: 50px;
}

.search-cep:hover {
    color: red;
    cursor: pointer;
}