.top-header {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtop-header {
  justify-content: space-between;
  margin: auto;
}

body {
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  align-items: center;
  justify-content: center;
}

.bloco {
  width: 100%;
  height: 110px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

main>div>h1 {
  margin: 50px 65px;
}

main>div>button {
  width: 180px;
  height: 30px;
  background-image: linear-gradient(to bottom, #000000, #0d0d0d);
  border: 1px solid #353535;
  border-radius: 5px;
  color: #fff;
  margin: 70px;
}

main>div>button:hover {
  padding: 1px;
  border: 1px solid #666;
  background-image: linear-gradient(to bottom, #171717, #0d0d0d);
  transition: 0.3s;
  cursor: pointer;
}

table {
  margin: auto;
  width: 80%;
  border-collapse: collapse;
}

table>tr>th {
  background-image: linear-gradient(to bottom, #999, rgb(187, 187, 187));
  text-align: center;
  border: 1px solid #999;
}

.status-lbl {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

table>tr>td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #999;
}

.group-radio {
  justify-content: center;
  display: flex;
}

.btn {
  border: 0px;
  border-radius: 4px;
  transition: 0.5s;
}

.btn:hover {
  color: #000;
  border-color: #000;
}

.botao-editar {
  display: inline-block;
  border-radius: 4px;
  background-color: red;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 2px;
  width: 70%;
  cursor: pointer;
  margin: auto;
}

.botao-editar:hover span {
  color: #000;
  transition: 0.5s;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid white;
  cursor: pointer;
}

#on:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: rgb(36, 245, 36);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid white;
}


#on:hover:after {
  background-color: rgba(36, 245, 36, 0.397);
}

#off:hover:after {
  background-color: rgba(255, 0, 0, 0.397);
}

#off:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: rgb(255, 0, 0);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid white;
}